* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* banner section */
.banner {
  background-repeat: no-repeat;
  background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 100%),
    url("../images/donation12.png");
  height: 669px;
}
.banner_items {
  text-align: center;
}
.banner_items h2 {
  color: #fff;
  font-size: 65px;
  padding-top: 174px;
}
.banner_items p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 50px;
}
button {
  padding: 15px 18px;
  border-radius: 5px;
  background: #ff5959;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 0;
}
/* donation section */
.donate_now {
  text-align: center;
  margin-top: 130px;
}
.donate_now h3 {
  color: #121212;
  font-size: 45px;
  font-weight: 700;
}
.donate_now p {
  color: #707070;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.donation_money ul {
  display: flex;
  gap: 22px;
  list-style: none;
  margin-left: 700px;
}
.donation_money h5 {
  color: #707070;
  font-size: 10px;
  padding: 43px 25px 43px 25px;
  border-radius: 5px;
  background: #fafafa;
}
#current_donation_money {
  border-radius: 5px;
  border: 2px solid #ff5959;
  margin-bottom: 60px;
}
#current_donation_money h5 {
  color: #ff5959;
  text-align: center;
  font-weight: 700;
  background: #fee;
}
hr {
  width: 500px;
  height: 0px;
  margin-left: 700px;
  margin-bottom: 30px;
}
.donate_now p {
  margin-bottom: 40px;
}
/* donate plan */
.donate_plan_section {
  margin-top: 130px;
  margin-bottom: 30px;
}
.donate_plan_section_title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
}
.donate_plan_section_discription {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}
.items_container {
  display: flex;
  gap: 30px;
}
.items_container > .item1,
.item2,
.item3 {
  border-radius: 5px;
  background: #fff;
  padding: 25px;
  width: 280px;
}
.items_container .item1 {
  background: rgba(79, 157, 166, 0.1);
  margin-left: 410px;
}
.items_container .item2 {
  background: rgba(255, 89, 89, 0.1);
}
.items_container .item3 {
  background: #fff4d6;
}
.item_title {
  color: #181818;
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 20px;
}
.item_description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
}
/* other section */
.other_section > div {
  display: flex;
  gap: 50px;
  margin: 100px 120px 35px 220px;
}
.other_text h3 {
  color: #121212;
  font-size: 32px;
  width: 492px;
}
.other_section img {
  width: 450px;
  height: 300px;
  border-radius: 5px;
}
/* update section */
.email {
  height: 200px;
  background: #fff4d6;
  margin-left: 520px;
  margin-right: 520px;
  margin-bottom: 100px;
  border-radius: 10px 10px 10px 10px;
}
.email input {
  margin-top: 80px;
  border-radius: 5px 0px 0px 5px;
  background: #d9d9d9;
  border: 0;
  height: 48px;
}
.email span {
  border-radius: 0px 5px 5px 0px;
  background: #ff5959;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 14px;
}
/* footer section */
footer {
  padding-bottom: 80px;
  align-items: center;
  background: #0b0d17;
}
.footer_section {
  text-align: center;
}
.footer_section h3 {
  padding-top: 50px;
  color: #ff5959;
  font-size: 36px;
  font-weight: 400;
}
.footer_section p {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}
